<div>
  <h2>Hii, {{maintainer}} ! </h2>
  <br />

  <p>
    A new service was created linked with your account. Now <strong>{{serviceName}}</strong> is available to receive feedbacks from your customers by using the key <strong>{{apiKey}}</strong> ! Enjoy the opportunity to contact and have a and have a closer communication with them.
  </p>
  <p>The feedbacks will be available in our platform.</p>
  <br />

  <p>Gabriel Lopes | Feedback.io</p>
</div>
